:root {
    --blue-: #63ADF2;
    --gray-: #545E75;
    --green1-: #B3DEC1;
    --green2-: #E5FCF5;
    --white-: #FEFFFE;
    --whiteRGBA-: rgba(254, 255, 254, 0.08);
    --font-main: 'Black And White Picture', sans-serif;
    --main: ;
}

* {
    box-sizing: inherit;
}

body {
  background-color: var(--mau-trang-);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
  line-height: 1.2rem;
  font-family: var(--font-main);
  color: #131515;
}


