:root{
    --color-: grey;
  --color-box-black-: #000;
  --color-box-white-: #fff;
  --color-text-white-: #fff;
  --color-text-black-: black;
  --color-background-: #fefefe;
  --color-home-text-: #feeadf;
  --color-var-bar-: #4e35a3;
  --color-page-: #e2f6fc;
  --border-box--: 0.5rem;
  --border-: 1px solid grey;
  --padding-left-content-box--: 20px;
  --box-shadow-: 5px 5px 10px black;
}

*{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
}
.grid {
width: 1200px;
max-width: 100%;
margin: 0 auto;
}

.grid_full-width {
width: 100%;
}

.grid_row { 
display: flex;
flex-wrap: wrap;
}