#btnconfirm {
    background-color: #0BDA51;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
    border-radius: 6px;
}
#btnconfirm:hover {
  background-color: #32CD32;
}