#btnwhite {
  background-color: white;
  color: #6a4de9;
  border: 2px solid #6a4de9;
  transition: all 0.3s ease;
  border-radius: 6px;
  padding: 10px 20px;
}
#btnwhite:hover {
  background: linear-gradient(45deg, #6a4de9, #6a4de9);
  color: white;
  transform: translateY(-2px);
}

