.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    justify-content: center; /* căn giữa theo trục Y */
  align-items: center;     /* căn giữa theo trục X */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* căn giữa theo trục Y */
  align-items: center;     /* căn giữa theo trục X */
  text-align: center;
  gap: 18px;
  background-color: rgb(242, 239, 239,0.1);
  border-radius: 20px;
  border: 1px solid gray;
}

.content p{
  font-size: 20px;
  font-weight: 500;
}

# Update 2026-01-10 17:57:42
