* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
  color: var(--color-text-back_white-);
}
*:root {
  --color-: grey;
  --color-box-black-: #000;
  --color-box-white-: #fff;
  --color-text-white-: #fff;
  --color-text-black-: black;
  --color-background-: #fefefe;
  --color-home-text-: #feeadf;
  --color-var-bar-: #4e35a3;
  --color-page-: #e2f6fc;
  --border-box--: 0.5rem;
  --border-: 1px solid grey;
  --padding-left-content-box--: 20px;
  --box-shadow-: 5px 5px 10px black;
}
body {
  width: 100%;
  font-family: "arial";
  margin: 0;
  background-color: var(--color-background-);
}
/*Header*/
#header {
  width: 100%;
  /* height: 5rem; */
  display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center;
  background: linear-gradient(
    to right,
    #ffe5d4 0%,
    /* cam nhạt bên trái */ #fbe3f0 40%,
    /* hồng nhạt ở giữa */ #ffffff 100% /* trắng bên phải */
  );
  position: fixed; /*cố định thẻ header*/
  z-index: 100; /*đưa thẻ header lên trên cùng*/
}

/*Nav bar title*/
.nav-bar-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.nav-bar-title .logo {
  display: flex;
  align-items: center;
}
.nav-bar-title .logo img {
  width: 40px;
}

.nav-bar-title .ul-bar-title {
  display: flex;
}

.nav-bar-title .ul-bar-title li {
  list-style: none;
}

.nav-bar-title .ul-bar-title a {
  padding: 8px 17px;
  font-size: 1.3rem;
  color: var(--color-var-bar-);
}
#menu-icon {
  font-size: 22px;
  cursor: pointer;
  color: white;
  display: none;
}
/* .nav-bar-title .ul-bar-title a:hover {
  background-color: #073a3b;
  border-radius: var(--border-box--);
} */

.ul-bar-info {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  padding: 0 0.5rem;
  margin: 0; /* bỏ margin mặc định */
}

.ul-bar-info li {
  list-style: none;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  /* padding: 10px 40px; */
}

.ul-bar-info .login {
  background-color: #ec6e23;
  font-size: 1.2rem;
  padding: 0.5rem 1rem; /* padding gọn gàng */
  border-radius: 2rem;
}

.ul-bar-info .login a {
  color: white;
  text-decoration: none;
}

.ul-bar-info .cart a {
  font-size: 1.3rem; /* cho icon giỏ hàng to bằng chữ login */
  color: purple;
}

/*CONTAINER*/

#container {
  width: 100%;
  padding-top: 3.7rem;
}

.content {
  padding: 50px 100px;
}

#container .home {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(
    to right,
    #ffe5d4 0%,
    /* cam nhạt bên trái */ #fbe3f0 40%,
    /* hồng nhạt ở giữa */ #ffffff 100% /* trắng bên phải */
  );
}

.home .home-text h1 {
  font-size: 3rem;
  margin: 0;
  background: linear-gradient(
    to right,
    #ff7c5c,
    /* cam */ #b92bba,
    /* tím hồng */ #4a3aff /* tím xanh */
  );
  -webkit-background-clip: text; /* Safari/Chrome */
  background-clip: text; /* Các browser hỗ trợ */
  color: transparent;
}

.home img {
  width: 100%;
}

/*Introduction*/
.introduct {
  width: 100%;
  min-height: 50vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.introduct .img-intro {
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  height: auto;
}

.introduct .about-text {
  width: 100%;
  flex: 1;
  /* background-color: var(--color-box-); */
  border-radius: var(--border-box--);
  padding: 2rem;
  line-height: 30px;
}

.reason-introduct {
  width: 100%;
  display: grid;
  grid-template-columns: 100%; /* Mỗi .LMS-icon trên một hàng */
  gap: 1.5rem;
}

.reason-introduct h1 {
  font-size: 2rem;
  text-align: center;
}

.LMS-icon {
  width: 100%;
  min-width: 200px;
  display: flex; /* Giữ flex để hình ảnh và văn bản nằm ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  gap: 1rem; /* Khoảng cách giữa hình ảnh và văn bản */
}

.LMS-icon img {
  width: 70px;
  height: 80px;
}

.LMS-icon div {
  display: flex;
  flex-direction: column; /* Các đoạn văn bản xếp theo cột (mỗi đoạn trên một dòng) */
  line-height: 1.5rem; /* Tăng line-height để chữ không bị đè */
  gap: 0.5rem; /* Khoảng cách giữa các đoạn văn bản */
}

.LMS-icon div p {
  margin: 0; /* Bỏ margin mặc định của thẻ p để kiểm soát khoảng cách tốt hơn */
}

/**Try free learn*/
.try-free-learn {
  width: 100%;
  background-color: var(--color-page-);
}

.try-free-learn .title-try-free-learn {
  width: 300px;
  padding: 8px 0;
  background-color: #073a3b;
  text-align: center;
  border-radius: 0.8rem;
}

.try-free-learn .title-try-free-learn span {
  color: var(--color-text-);
  text-align: center;
  font-size: 25px;
}

.try-free-learn .English-for-newbie {
  width: 100%;
  background-color: var(--color-box-white-);
  border-radius: 0.8rem;
  margin-top: 1rem;
  padding: 1rem 0;
  padding-bottom: 2rem;
  padding-left: var(--padding-left-content-box--);
}

.try-free-learn .English-for-newbie h2 {
  font-size: 2rem;
  margin: 0;
}

.try-free-learn .English-for-newbie a {
  padding: 10px 40px;
  background-color: #bc9667;
  border-radius: 10px;
}

/*Course*/
.courses-online {
  width: 100%;
}

.courses-online .slogan {
  font-size: 2rem;
  color: var(--color-box-);
}
.courses-online .course-info {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  gap: 1.5rem;

  /* padding: 1rem 1rem; */
}

.course-info .left-course-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-text-);
  color: var(--color-box-);
  border-radius: var(--border-box--);
  box-shadow: var(--box-shadow-);
}
.course-info .left-course-info .box-left-course-info {
  width: 100%;
}

.course-info .left-course-info .box-left-course-info-top {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.course-info .left-course-info img {
  width: 296px;
  margin: 0.5rem;
}

.box-left-course-info-top .content-course h2 {
  font-size: 2rem;
}

.course-info .left-course-info .box-left-course-info-bottom {
  width: 100%;
  line-height: 20px;
  margin-top: 9rem;
  margin-bottom: 2rem;
  text-align: center;
}

.course-info .left-course-info .box-left-course-info-bottom a {
  padding: 10px 40px;
  background-color: #bc9667;
  border-radius: 10px;
}

/*Right course info*/

.right-course-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.right-course-info .right-course-info-box {
  width: 100%;
  background-color: var(--color-text-);
  color: var(--color-box-);
  border-radius: var(--border-box--);
  box-shadow: var(--box-shadow-);
  display: flex;
  flex-direction: column;
}
/*thẻ div này để dùng khi reponsive 1 hàng thì set nó ăn 80% của thằng right-course-info-box*/
.right-course-info-box > div {
  width: 100%;
}

.right-course-info-box .online-plus-basic {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 14px;
  align-items: center;
}

.right-course-info-box .online-plus-basic h2 {
  font-size: 2rem;
}

.right-course-info-box .div-content p {
  padding: 0 14px;
  margin: 0;
}

.right-course-info-box .div-content-see-more {
  margin: 1rem 0;
  text-align: center;
  margin-top: 3rem;
}

.right-course-info-box .div-content-see-more a {
  padding: 10px 40px;
  background-color: #bc9667;
  border-radius: 10px;
}

/*Popular courses*/
.popular-courses {
  width: 100%;
  background-color: #fdfaf3;
}

.popular-courses h1 {
  font-size: 2rem;
}

.popular-courses .popular-courses-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.popular-courses .box {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.popular-courses img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  background-color: grey;
}

.popular-courses .box .info {
  display: flex;
  justify-content: space-around;
}

.popular-courses .box .info span {
  padding: 0.5rem 1rem;
  background-color: #bc9667;
  border-radius: 10px;
}

.popular-courses .see-more {
  text-align: center;
  margin-top: 2rem;
  color: orange;
}

.popular-courses .popular-courses-list .box:hover {
  transform: translateY(-10px);
}

.popular-courses .popular-courses .see-more a:hover {
  text-decoration: underline;
}

/* FOOTER  */
/* FOOTER  */
#footer {
  width: 100%;
  background-color: #eeeae1;
  padding: 30px;
}

#footer > h2 {
  text-align: center;
}

.footer-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  justify-content: center;
  gap: 1.5rem;
}

.footer-contact h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.content-footer .social-icon i {
  font-size: 24px;
  padding: 10px;
  background-color: grey;
  border-radius: 0.2rem;
}

.content-footer .social-icon i:hover {
  background-color: orange;
  cursor: pointer;
}

.content-footer a {
  color: black;
}

.social-icon span {
  color: black;
}

.social-icon.social-icon-last i {
  background-color: transparent;
}

/* MEDIA */

@media (max-width: 1058px) {
  header {
    padding: 16px 60px;
  }
  .content {
    padding: 50px 60px;
  }
  .home-text h1 {
    font-size: 2.4rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 16px 4%;
  }
  .content {
    padding: 50px 4%;
  }
  .home-text h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1058px) {
  header {
    padding: 12px 4%;
  }
  #menu-icon {
    display: initial;
  }
  .ul-bar-title {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    row-gap: 1.4rem;
    padding: 20px;
    transition: 0.3s;
    text-align: center;
    margin: 0px;
  }
  .ul-bar-title a:hover {
    background-color: red;
  }
  .ul-bar-title.active {
    top: 100%;
  }
}

@media (max-width: 360px) {
  header {
    padding: 11px 4%;
  }
  .login img {
    width: 45px;
  }
  .home-text {
    padding-top: 15px;
  }
  .home-text h1 {
    font-size: 1.4rem;
  }
  .home-text p {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .about-text h1 {
    font-size: 1.4rem;
    text-align: center;
  }
}
