* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  font-size: 1.1rem;
  color: var(--color-text-back_white-);
}
*:root {
  --color-: grey;
  --color-box-black-: #000;
  --color-box-white-: #fff;
  --color-text-white-: #fff;
  --color-text-black-: black;
  --color-background-: #fefefe;
  --color-home-text-: #feeadf;
  --color-var-bar-: #4e35a3;
  --color-page-: #e2f6fc;
  --border-box--: 0.5rem;
  --border-: 1px solid grey;
  --padding-left-content-box--: 20px;
  --box-shadow-: 5px 5px 10px black;
}

.content {
  padding: 50px 100px;
}
body {
  width: 100%;
  font-family: "arial";
  margin: 0;
  background-color: var(--color-background-);
  overflow-x: hidden; /* Ngăn tràn ngang */
}

#header {
  width: 100%;
  /* height: 5rem; */
  display: flex;
  justify-content: center; /* căn giữa ngang */
  align-items: center;
  background: linear-gradient(
    to right,
    #ffe5d4 0%,
    /* cam nhạt bên trái */ #fbe3f0 40%,
    /* hồng nhạt ở giữa */ #ffffff 100% /* trắng bên phải */
  );
  /* position: fixed; 
  z-index: 100;  */
}

/*Nav bar title*/
.nav-bar-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.nav-bar-title .logo {
  display: flex;
  align-items: center;
}
.nav-bar-title .logo img {
  width: 40px;
}

.nav-bar-title .ul-bar-title {
  display: flex;
}

.nav-bar-title .ul-bar-title li {
  list-style: none;
}

.nav-bar-title .ul-bar-title a {
  padding: 8px 17px;
  font-size: 1.3rem;
  color: var(--color-var-bar-);
}
#menu-icon {
  font-size: 22px;
  cursor: pointer;
  color: white;
  display: none;
}
/* .nav-bar-title .ul-bar-title a:hover {
  background-color: #073a3b;
  border-radius: var(--border-box--);
} */

.ul-bar-info {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  padding: 0 0.5rem;
  margin: 0; /* bỏ margin mặc định */
}

.ul-bar-info li {
  list-style: none;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  /* padding: 10px 40px; */
}

.ul-bar-info .login {
  background-color: #ec6e23;
  font-size: 1.2rem;
  padding: 0.5rem 1rem; /* padding gọn gàng */
  border-radius: 2rem;
}

.ul-bar-info .login a {
  color: white;
  text-decoration: none;
}

.ul-bar-info .cart a {
  font-size: 1.3rem; /* cho icon giỏ hàng to bằng chữ login */
  color: purple;
}

/*container*/
.container {
  width: 100%;
}

.content-container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.top-content {
  width: 100%;
  position: relative;
  background-color: #ffe5d4;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: linear-gradient(to right, #ffe5d4 0%, #fbe3f0 40%);
}

.top-content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 48vw;
  height: 50vh;
  background: url("../../images/imagebackground-home.jpg") no-repeat center,
    linear-gradient(to right, #fbe3f0 40%, #ffffff 100%);
  background-size: contain;
  z-index: 1;
  border-radius: 1rem;
}

.top-content .content-text {
  padding: 1rem;
  line-height: 5rem;
}

.top-content .content-text h1 {
  font-size: 2.5rem;
  color: var(--color-var-bar-);
  position: relative;
  z-index: 2;
}

.home {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(
    to right,
    #ffe5d4 0%,
    /* cam nhạt bên trái */ #fbe3f0 40%,
    /* hồng nhạt ở giữa */ #ffffff 100% /* trắng bên phải */
  );
  display: none;
}

.home .home-text h1 {
  font-size: 3rem;
  margin: 0;
  background: linear-gradient(
    to right,
    #ff7c5c,
    /* cam */ #b92bba,
    /* tím hồng */ #4a3aff /* tím xanh */
  );
  -webkit-background-clip: text; /* Safari/Chrome */
  background-clip: text; /* Các browser hỗ trợ */
  color: transparent;
}

.home img {
  width: 100%;
}

/*BOTTOM*/
.bottom-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
  min-height: 50vh;
  /* position: relative;
  z-index: 2; */
}

.bottom-content .big-box {
  width: 100%;
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe5d4;
  border-radius: 1rem;
  padding: 1rem;
  line-height: 3rem;
}

.bagde-number-1 {
  width: 20%;
}

.bagde-number-1 img {
  width: 100%;
  border-radius: 1rem;
}

.big-box h1 {
  font-size: 2rem;
}

.bottom-content .small-box {
  /* width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffe5d4;
  border-radius: 1rem;
  margin-top: auto;
  height: 50vh; */
  width: 100%;
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  margin-top: auto;
}
.small-bottom {
  gap: 1rem;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-end;
}

.small-text-flex {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
}

.small-bottom .text-bot-left,
.small-bottom .text-bot-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffe5d4;
  border-radius: 1rem;
  padding: 0.5rem;
}

.text-bot-left .img-90 {
  width: 40%;
}

.img-90 img {
  width: 100%;
  border-radius: 1rem;
}

/* slide */

.slide-course h1 {
  font-size: 2rem;
  padding: 20px 50px;
  margin: 0px;
}

.slides {
  /* margin: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  /* width: 100vw; */
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.slideshow-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ffe5d4;
}

.slide {
  width: 600px;
  height: 300px;
  margin: 0 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  opacity: 0.7;
  background-color: grey;
  padding: 20px;
}
.slide.left {
  transform: translateX(-250px) scale(0.8);
}
.slide.center {
  width: 600px;
  height: 400px;
  transform: translateX(0) scale(1);
  z-index: 2;
  opacity: 1;
  background-color: #ff6b6b;
}
.slide.right {
  transform: translateX(250px) scale(0.8);
}
/* .slide1 {
  background-color: grey;
}
.slide2 {
  background-color: grey;
}
.slide3 {
  background-color: grey;
} */

.dots {
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3; /* Đảm bảo dots ở trên các slide */
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}
.dot.active {
  background-color: #717171;
}

/*poppular course*/

/*Popular courses*/
.popular-courses {
  width: 100%;
  background-color: #fdfaf3;
}

.popular-courses h1 {
  font-size: 2rem;
}

.popular-courses .popular-courses-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.popular-courses .box {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.popular-courses img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  background-color: grey;
}

.popular-courses .box .info {
  display: flex;
  justify-content: space-around;
}

.popular-courses .box .info span {
  padding: 0.5rem 1rem;
  background-color: #bc9667;
  border-radius: 10px;
}

.popular-courses .see-more {
  text-align: right;
  margin-top: 2rem;
  color: orange;
}

.popular-courses .popular-courses-list .box:hover {
  transform: translateY(-10px);
}

.popular-courses .popular-courses .see-more a:hover {
  text-decoration: underline;
}

.image-center {
  width: 100%;
}

.image-center .images {
  width: 100%;
  border-radius: 1rem;
}

.image-center .images img {
  width: 100%;
  border-radius: 1rem;
}

/*BOOK*/
.book {
  width: 100%;
}

.book h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.book-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 1rem;
  background-color: #fdfaf3;
}

.left-book {
  width: 70%;
  padding: 18px;
}

.left-book .left-book-text-top {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.left-book-text-top .name-title-book {
  font-size: 1.5rem;
  font-weight: bold;
}

.left-book-text-top ul {
  display: flex;
  column-gap: 8px;
  margin: 0;
  padding: 0;
  background-color: #ffe5d4;
  border-radius: 1rem;
}

.left-book-text-top ul li {
  list-style: none;
  color: black;
  font-size: 1.2rem;
  padding: 8px 12px;
}

.right-book {
  width: 30%;
}

.right-book img {
  width: 100%;
  height: auto;
}
.customer-feedback {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  padding-top: 150px;
}

.customer-feedback::before {
  content: "";
  width: 100%; /* Mở rộng để che toàn bộ phần trên */
  height: 100%; /* Chiều cao cố định cho phần cong */
  background-color: #ffe5d4;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* Căn giữa theo chiều ngang */
  z-index: -1;
  opacity: 0.5;
  clip-path: ellipse(
    70% 100% at 50% 100%
  ); /* Tâm ở đỉnh giữa, tạo cong lồi lên */
  /* overflow: hidden; */
}
.customer-feedback h1 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.feed-back {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}

.feed-back .feed-back1 {
  box-shadow: 5px 5px 10px black;
  border-radius: 1rem;
  line-height: 30px;
}

.feed-back1 i {
  color: #bc9667;
}

.feed-back .feed-back1 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.feed-back :hover {
  background-color: #eeeae1;
}

#footer {
  width: 100%;
  background-color: #eeeae1;
  padding: 30px;
}

#footer > h2 {
  text-align: center;
}

.footer-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  justify-content: center;
  gap: 1.5rem;
}

.footer-contact h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.content-footer .social-icon i {
  font-size: 24px;
  padding: 10px;
  background-color: grey;
  border-radius: 0.2rem;
}

.content-footer .social-icon i:hover {
  background-color: orange;
  cursor: pointer;
}

.content-footer a {
  color: black;
}

.social-icon span {
  color: black;
}

.social-icon.social-icon-last i {
  background-color: transparent;
}

@media (max-width: 1058px) {
  #header {
    padding: 16px 20px; /* Giảm padding để phù hợp màn hình nhỏ */
  }
  .container .content {
    padding: 20px; /* Giảm padding cho content */
  }
  .home {
    display: grid;
  }
  .content-text {
    display: none;
  }
  .top-content::before {
    display: none;
  }
  .home-text h1 {
    font-size: 2.2rem;
  }
  .bottom-content {
    flex-direction: column;
    padding: 20px; /* Giảm padding */
  }

  .slide {
    width: 380px;
    /* height: auto; */
  }

  .book {
    padding: 20px 50px; /* Điều chỉnh padding cho book */
  }
  .image-center {
    padding: 20px 50px; /* Điều chỉnh padding cho image-center */
  }
  .customer-feedback {
    padding-top: 100px; /* Giảm padding-top */
  }
  .top-content {
    padding: 0; /* Xóa padding để tránh tràn */
  }
  /* .customer-feedback::before {
    display: none;
  } */
}

@media (max-width: 990px) {
  .customer-feedback::before {
    clip-path: ellipse(100% 100% at 50% 100%);
  }
  .customer-feedback > h1 {
    margin-bottom: 2rem;
  }
  .content {
    padding: 50px 4%;
  }
  header {
    padding: 16px 4%;
  }
}

@media (max-width: 928px) {
  #menu-icon {
    display: block;
    cursor: pointer;
  }
  #menu-icon:hover {
    cursor: pointer;
  }
  .nav-bar-title {
    justify-content: space-between;
  }
  .nav-bar-title .ul-bar-title {
    display: none;
  }
  .book-box {
    flex-direction: column;
    align-items: center;
  }
  .left-book {
    width: 100%;
  }
  .left-book-text-top {
    flex-direction: column;
    row-gap: 10px;
  }
  .left-book-text-top ul {
    gap: 16px;
  }

  .image-center {
    padding: 20px;
  }

  .dots {
    padding-bottom: 0px;
  }
}

@media (max-width: 647px) {
  h1 {
    font-size: 1.5rem !important;
  }
  .slides {
    height: 80vh; /* Giữ nguyên */
  }
  .slide.center {
    width: 80vw; /* Center rộng hơn một chút, nhưng vẫn responsive */
    height: 70vh;
    max-width: 400px; /* Cap cho center */
  }

  .slide.left {
    transform: translateX(-40vw) scale(0.85); /* Điều chỉnh translate theo vw, scale hơi lớn hơn để fit */
  }

  .slide.right {
    transform: translateX(40vw) scale(0.85);
  }

  /* Đảm bảo dots không bị che */
  .dots {
    padding-bottom: none;
  }
  .customer-feedback::before {
    clip-path: none;
  }
  .customer-feedback::before {
    border-radius: 1rem;
  }
}

@media (max-width: 500px) {
  .big-box h1 {
    line-height: 2rem;
    font-size: 1.3rem !important;
  }
}

@media (max-height: 647px) {
  .top-content::before {
    height: 420px;
  }
}

@media (max-width: 360px) {
  header {
    padding: 11px 4%;
  }
  .home-text {
    padding-top: 15px;
  }
  .home-text h1 {
    font-size: 1.4rem;
  }
  .home-text p {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .about-text h1 {
    font-size: 1.4rem;
    text-align: center;
  }
}
