<div class="left-slide">
  <div class="logo">
    <h1>KURUMI LMS</h1>
  </div>
  <nav class="nav-bar-title">
    <ul>
      <li>
        <a href="../../Teacher/teacher.html" class="active"
          ><i class="fas fa-home"></i> Tổng quan</a
        >
      </li>

      <li>
        <a href="../../Teacher/manage-course.html"
          ><i class="fas fa-book"></i> Quản lý khóa học</a
        >
      </li>

      <li>
        <a href="../../Teacher/manage-students.html"
          ><i class="fas fa-users"></i> Quản lý học viên</a
        >
      </li>

      <li>
        <a href="../../Teacher/manage-homework.html"
          ><i class="fas fa-file-alt"></i> Quản lý bài tập</a
        >
      </li>

      <li>
        <a href="../../Teacher/report.html"
          ><i class="fas fa-chart-bar"></i> Báo cáo & Thống kê</a
        >
      </li>

      <li>
        <a href="#"><i class="fas fa-bell"></i> Thông báo</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-cog"></i> Cài đặt</a>
      </li>
      <li>
        <a href="../../index.html"
          ><i class="fas fa-sign-out-alt"></i> Đăng xuất</a
        >
      </li>
    </ul>
  </nav>
</div>
